@use "../../styles/abstracts/variables" as *;
@use "../../styles/shared/typography" as *;

.status-sel_container {
  position: relative;

  .status-sel_current:hover,
  svg {
    cursor: pointer;
  }

  .status-sel_open {
    border-color: $primary;
  }

  svg {
    position: absolute;
    top: 18px;
    right: 12px;
  }
}

.status-sel_options {
  position: absolute;
  top: 50px;

  width: 100%;
  overflow-y: scroll;
  max-height: 86px;
  padding: 8px 16px;

  background-color: white;
  color: $grey !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.status-sel_option {
  @include BodyL(500);
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
