@use "../../styles/variables.scss" as *;

.status-sel_container {
  position: relative;

  .status-sel_current:hover,
  svg {
    cursor: pointer;
  }

  .status-sel_open {
    border-color: $primary;
  }

  svg {
    position: absolute;
    top: 18px;
    right: 12px;
  }
}

.status-sel_options {
  width: 100%;
  padding: 8px 16px;
  color: $grey !important;
}

.status-sel_option {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
