@use "../abstracts/variables" as *;
@use "../abstracts/global" as *;
@use "../shared/typography" as *;
@use "../utils/breakpoints" as *;

.editor_header {
  @include HeadingL;
}

.editor_form {
  display: grid;
  gap: 24px;
}

.editor_label {
  @include label;
}

.editor_add-new {
  @include BodyL(700);

  color: $primary;

  padding: 8px;
  border: none;
  background-color: rgba(99, 95, 199, 0.1);
  border-radius: 210px;
}

.editor_submit-btn {
  @include BodyL(700);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $primary;
  color: white;
  border-radius: 24px;
  padding: 10px 18px;

  border: none;
}

/*      DESKTOP      */
@include breakpoint(desktop) {
  .editor_add-new:hover {
    cursor: pointer;
    background-color: rgba(99, 95, 199, 0.25);
  }

  .editor_submit-btn:hover {
    cursor: pointer;
    background-color: $primaryHover;
  }
}
