@use "./variables.scss" as *;
@use "./global.scss" as *;

.editor_header {
  font-size: 18px;
  line-height: 23px;
}

.editor_form {
  display: grid;
  gap: 24px;
}

.editor_label {
  @include label;
}

.editor_add-new {
  color: $primary;
  font-weight: 700;
  line-height: 23px;
  padding: 8px;
  border: none;
  background-color: rgba(99, 95, 199, 0.1);
  border-radius: 210px;
}

.editor_submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $primary;
  color: white;
  border-radius: 24px;
  padding: 10px 18px;

  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  border: none;
}
