@use "../../styles/utils/breakpoints" as *;
@use "../../styles/abstracts/variables" as *;
@use "../../styles/shared//typography" as *;

.sidebar {
  display: none;
  transition: 0.2s;
}

/*      TABLET       */

@include breakpoint(tablet) {
  .sidebar {
    background-color: white;
    width: 261px;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    gap: 54px;

    border-right: 1px solid $lines;
  }

  .sidebar-content {
    position: relative;
    flex: 2;
  }

  .sidebar_hide {
    @include HeadingM;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 0;

    color: $grey;
    background-color: transparent;
    border-radius: 0px 100px 100px 0px;
    margin-left: -24px;
    padding-left: 24px;
  }
}

/*    DESKTOP     */
@include breakpoint(desktop) {
  .sidebar {
    width: 300px;
  }

  .sidebar_hide:hover {
    cursor: pointer;
    color: $primary;
    background-color: fade-out($primaryHover, $amount: 0.8);

    svg > path {
      fill: $primary;
    }
  }
}
