@use "../../styles/variables.scss" as *;

.header_container {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 16px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    h2 {
      font-size: 18px;
    }

    svg {
      margin-top: 2px;
    }
  }
}

.header_right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  .dimmed {
    cursor: default;
    opacity: 0.25;
  }

  button {
    display: flex;
    align-items: center;

    background-color: $primary;
    color: white;
    border-radius: 24px;
    padding: 10px 18px;

    border: none;
  }

  svg {
    cursor: pointer;
  }
}
