@use "../../styles/abstracts/variables" as *;
@use "../../styles/utils/breakpoints" as *;
@use "../../styles/shared/typography" as *;

.boards-nav_container {
  h3 {
    @include HeadingS;
    margin-bottom: 20px;
    color: $grey;
  }
}

.boards-nav_list {
  display: grid;

  &--create-new {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 0;

    button {
      @include HeadingM;
      cursor: pointer;

      color: $primary;
      background: none;
      border: none;
      white-space: nowrap;
    }

    svg > path {
      fill: $primary;
      stroke: transparent;
    }
  }
}

.boards-nav_theme-switcher {
  margin-top: 16px;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  background-color: $lightBG;
  transition: 0.2s;

  label {
    cursor: pointer;

    position: relative;
    height: 20px;
    width: 40px;
    background-color: $primary;
    border-radius: 12px;

    input {
      opacity: 0;
      height: 0;
      width: 0;
    }

    span {
      position: absolute;
      bottom: 3px;
      background-color: white;
      height: 14px;
      width: 14px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

.boards-nav_board-name {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 0;

  color: $grey;
  stroke: $grey;
  fill: $grey;

  p {
    @include HeadingM;
  }
}

.boards-nav_current {
  margin-left: -24px;
  padding-left: 24px;

  border-radius: 0px 100px 100px 0px;
  color: white;
  background-color: $primary;

  svg > path {
    fill: white;
    stroke: transparent;
  }
}

/*    TABLET     */

@include breakpoint(tablet) {
  .boards-nav_theme-switcher {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
