// Colors
$primary: #635fc7;
$primaryHover: #a8a4ff;
$red: #ea5555;
$redHover: #ff9898;
$lightBG: #f4f7fd;
$darkBG: #20212c;
$grey: #828fa3;
$darkGrey: #2b2c37;
$lines: #e4ebfa;
$linesDark: #3e3f4e;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
$baseFont: "Plus Jakarta Sans", sans-serif;
