@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/global" as *;
@use "../../styles/shared/typography" as *;
@use "../../styles/utils/breakpoints" as *;

.view-task_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.view-task_title {
  @include HeadingL;
  width: 90%;
}

.view-task_description {
  @include BodyL(500);
  color: $grey;
}

.view-task_subtitle {
  @include BodyL(700);
  color: $grey;
}

.view-task_subtasks {
  margin-top: 16px;
  display: grid;
  gap: 8px;
}

.view-task_completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.view-task_subtask {
  transition: 0.2s;
  background-color: $lightBG;
  border-radius: 4px;
  padding: 14px 12px;
  display: flex;
  gap: 16px;

  .view-task_checkbox {
    accent-color: $primary;
    border: 1px solid rgba(130, 143, 163, 0.248914);
  }

  label {
    @include BodyL(700);
  }
}

.view-task_status {
  @include label;
}

/*      DESKTOP      */
@include breakpoint(desktop) {
  .view-task_ellipsis:hover {
    cursor: pointer;
  }

  .view-task_subtask:hover {
    cursor: pointer;

    &:not(.view-task_completed) {
      background-color: rgba(99, 95, 199, 0.25); /* Primary at 0.25 opacity */
    }

    & * {
      cursor: pointer;
    }
  }
}
