@use "../../styles/abstracts/variables" as *;
@use "../../styles/shared/typography" as *;

.column_container {
  min-width: 280px;
  height: 100%;
}

.column_header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}

.column_circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.column_title {
  @include HeadingS;
  color: $grey;
}

.column_tasks {
  display: grid;
  gap: 20px;
}
