@use "../../styles/variables.scss" as *;

.column_container {
  min-width: 280px;
}

.column_header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}

.column_circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.column_title {
  font-size: 12px;
  color: $grey;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 2.4px;
  font-weight: 700;
}

.column_tasks {
  display: grid;
  gap: 20px;
}
