@use "../../styles/abstracts/variables" as *;
@use "../../styles/utils/breakpoints" as *;

.editable-list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  input {
    flex: 2;
  }

  span {
    position: absolute;
    right: 10%;
    color: $red;
  }
}

/*        DESKTOP      */
@include breakpoint(desktop) {
  .editable-list_item > svg:hover > * {
    fill: red;
  }
}
