@use "../../styles/abstracts/variables" as *;

.mini-modal_bg {
  position: absolute;
  z-index: 1;
  right: -34px;
  top: 34px;

  width: 40%;
  min-width: fit-content;
  padding: 16px;
  white-space: nowrap;

  display: grid;
  gap: 16px;
  background-color: white;
  transition: 0.2s;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;

  & > * {
    cursor: pointer;
  }

  .mini-modal_edit {
    color: $grey;
  }

  .mini-modal_delete {
    color: $red;
  }
}
