@use "../../styles/variables.scss" as *;

.delete-type_title {
  color: $red;
}

.delete-type_text {
  color: $grey;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

.delete-type_btns-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
  }

  .delete-type_delete {
    color: white;
    background-color: $red;
  }

  .delete-type_cancel {
    color: $primary;
    background: rgba(99, 95, 199, 0.1);
  }
}
