@use "../../styles/abstracts/variables" as *;
@use "../../styles/shared/typography" as *;

.delete-type_title {
  @include HeadingL;
  color: $red;
}

.delete-type_text {
  @include BodyL(500);
  color: $grey;
}

.delete-type_btns-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    @include BodyL(700);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 8px;
    transition: 0.2s;
  }

  .delete-type_delete {
    color: white;
    background-color: $red;
  }

  .delete-type_cancel {
    color: $primary;
    background: rgba(99, 95, 199, 0.1);
  }
}
