@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.app {
  display: flex;
  flex-direction: column;
  background-color: $lightBG;
  font-family: $baseFont;
  height: 100%;
  transition: 0.4s;
}

.app_main-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

/*      TABLET     */
@include breakpoint(tablet) {
  .app {
    flex-direction: row;
    max-width: 100%;
  }
}
